* {

        margin: 0;
        padding: 0;
        box-sizing: border-box;

}

:root {

        --iris: #4D5AE5;
        --navy-blue: #2E2F42;
        --slate: #434455;
        --white: #FFF;
        --cloud: #F4F4FD;
        --ocean: #404BBF;
        --cornflower: #E7E9FC;

}

body {

        font-family: 'Roboto', sans-serif;

}

address {

        font-style: normal;

}

a {

        text-decoration: none;

}

li {

        list-style-type: none;

}

button {

        font-family: inherit;
        border: unset;
        outline: none;

}

.container {

        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;

}

.header {

        padding: 24px 0;
        width: 1158px;
        margin: auto;

        border-bottom: 1px solid var(--cornflower);
        background: var(--white);

}

.header-logo {

        height: 24px;
        width: 1158px;
        padding-right: 76px;

        color: var(--navy-blue);
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        cursor: default;

}

.iris {

        color: var(--iris);

}

.nav {

        color: var(--navy-blue);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;

        display: inline-block;

}

.nav-list {

        color: var(--navy-blue);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;

}

.nav-list-item {

        display: inline-block;

}

.nav-list-item:first-child {

        padding-right: 40px;

}

.nav-list-item:last-child {

        padding-left: 40px;

}

.nav-link {

        color: var(--navy-blue);
        cursor: default;
        
}

a.nav-link:hover {

        color: var(--ocean);
        
}

.address {

        color: var(--slate);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        
        display: inline-flex;
        
}


.address-list-item {

        color: var(--slate);
        display: inline-block;

}

.address-list-item:first-child {

        padding-right: 40px;
        padding-left: 315px;
        
}

.address-link {

        color: var(--slate);
        cursor: default;
      
}

a.address-link:hover {

        color: var(--ocean);

}

.hero {

        background: var(--navy-blue);
        width: 1158px;
        height: 600px;

        text-align: center;

        margin: auto;
        
}

.hero-title {

        color: var(--white);
        text-align: center;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 1.12px;

        margin: auto;
        padding-top: 188px;
        padding-bottom: 48px;
        
}

.hero-button {

        color: var(--white);
        background: var(--iris);
        
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;

        border-radius: 4px;
        padding: 16px 32px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        
}

.hero-button:hover {

        color: var(--white);
        border-radius: 4px;
        background: var(--ocean, #404BBF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.features-item {

        display: inline-block;

        padding-top: 120px;
        padding-bottom: 120px;
        
}

.features-item:first-child {

        padding-right: 24px;

}

.features-item:last-child {

        padding-left: 24px;

}

.features-item:nth-child(3) {

        padding-left: 24px;

}

.features-item-title {

        color: var(--navy-blue);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;

        padding-bottom: 8px;
        
}

.features-item-description {

        color: var(--navy-blue);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;

}

.services-title {

        color: var(--navy-blue);
        text-align: center;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.72px;

        padding-bottom: 72px;

}

.services-item {

        display: flex;
        padding-bottom: 120px;

}

.services-item-image {

        display: inline-block;

}

.services-item-image:first-child {

        padding-right: 24px;

}

.services-item-image:last-child {

        padding-left: 24px;

}

.teams {

        background: var(--cloud);

        width: 1158px;
        margin: auto;
        
}

.team-title {

        color: var(--navy-blue);
        text-align: center;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.72px;

        padding-top: 120px;
        padding-bottom: 72px;
}

.team-list {

        display: flex;
        padding-bottom: 120px;
}

.team-list-item {

        display: inline-block;
        margin-right: 24px;

        padding-bottom: 0px;

        border-radius: 0px 0px 4px 4px;
        background: var(--WHITE, #FFF);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        
}

.team-name {

        color: var(--navy-blue);
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;

        padding-top: 32px;
        padding-bottom: 8px;

}

.team-jobs {

        color: var(--slate);
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;

        padding-bottom: 32px;
}


.footer {

        background: var(--navy-blue);

        width: 1158px;
        margin: auto;

}

.footer-logo {

        display: inline-flex;
        height: 24px;
        align-items: center;

        color: var(--cloud);
        width: 71px;
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        cursor: default;

        padding-top: 101.5px;
        padding-bottom: 17.5px;

}

.footer-description {

        color: var(--cloud);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;

        padding-bottom: 100px;

}

.filters-list {


        padding-top: 96px;
        padding-bottom: 72px;
        padding-left: 271px;

}

.filters-item {

        display: inline-block;
}


.filters-item:nth-child(2) {

        margin: 0 24px;

}

.filters-item:nth-child(4) {

        margin: 0 24px;

}

.filters-item-button {

        color: var(--iris);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        
        border-radius: 4px;
        border: 1px solid var(--cornflower);
        background: var(--cloud);

        padding: 12px 24px;

        cursor: pointer;

}

.filters-item-button:hover {

        color: var(--white);
        border-radius: 4px;
        border-color: var(--ocean);
        background: var(--ocean);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

}

.projects {

        width: 1158px;
        margin: auto;

        margin-bottom: 120px;

}

.projects-list {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        
}

.projects-list-title {

        color: var(--navy-blue);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;

        padding-top: 32px;
        padding-bottom: 8px;
        padding-left: 16px;
}

.projects-list-description {

        color: var(--slate);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;

        padding-left: 16px;
        padding-bottom: 32px;

}

.projects-list-item1 {

        display: inline-block;

        margin-bottom: 48px;

        background: var(--WHITE, #FFF);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.projects-list-item1:nth-child(2) {

        margin: 0 24px;
        margin-bottom: 48px;
}

.projects-list-item2 {

        display: inline-block;

        margin-bottom: 48px;

        background: var(--WHITE, #FFF);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.projects-list-item2:nth-child(5) {

        margin: 0 24px;
        margin-bottom: 48px;
}

.projects-list-item3 {

        display: inline-block;

        background: var(--WHITE, #FFF);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.projects-list-item3:nth-child(8) {

        margin: 0 24px;

}